.Home {
    .Nav {
        position: sticky;

        .NavItems {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }
}