.name-set {
  display: none;
}

.chat-box {
  border: 1px solid darkgrey;
  background-color: ivory;
}
.chat-div {
  background-color: aliceblue;
}

.chat {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  overflow-y: auto;
}