.Hand {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  .playerNav {
    display: flex;
    justify-content: space-between;
    .OppAndTimer {
      display: flex;
    }
  }

  .focus {
    border: solid 3px rgba(255, 255, 0, 0.501);
  }

  .announcements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}