.Hand {
  .players {
    img{
      width: 90px;
    }
  }
  .community {
    img {
      width: 60px;
    }
  }
  .blindsAndBets {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}