.Hand {
  .players {
    img{
      width: 65px;
    }
  }
  .community {
    img {
      width: 75px;
    }
  }
  .blindsAndBets {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .pot{
    background-color: rgb(255, 229, 205);
    border-radius: 5px;
    padding: 10px;
  }
}