.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  .playerName {
    font-weight: 700;
  }
  .Ready {
    color: green;
    font-weight: 600;
  }
  .profit {
    color: green;
  }
  .loss {
    color: red;
  }
}