*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  
  h1 {
    color: darkblue;
  }
  
  section {
    margin: 10px;
    padding: 10px;

    input {
      margin: 5px;
      padding: 5px;
    }
  }
}
