@import "../../variables.module.scss";

.ConnectedStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 130px;
  border: 2px solid $greengrey;
  border-radius: 5px;
  padding: 0 5px;

  p {
    margin: auto;
    font-size: 13px;
  }

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: auto 0;
  }

  .connected {
    background-color: $green;
  }

  .disconnected {
    background-color: $greengrey
  }

  .error {
    background-color: $maroon;
  }
}
